@model EcommerceOfficial.RequestModel.CategoryRequestModel


<p style="color: red; font-weight: bold;">Add a role</p>
<form method="Post">
    <div class="col-md-6" style="margin-top:40px; font-size: larger; font -weight: bold;colour: darkcyan">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">
    </div>

    <button type="submit">Create</button>
</form>